<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistracijaVozila" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1218/RegistracijaVozila.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistracijaVozila"
                contract="SR.IRegistracijaVozila" name="BasicHttpBinding_IRegistracijaVozila" />
        </client>
    </system.serviceModel>
</configuration>