<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_INLJSC" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54476/NLJSC.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_INLJSC" contract="SRJun2021.INLJSC"
                name="WSDualHttpBinding_INLJSC">
                <identity>
                    <userPrincipalName value="STEFKE\Stefan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>