<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ILoto" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4091/Loto.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ILoto" contract="SR.ILoto"
                name="WSDualHttpBinding_ILoto">
                <identity>
                    <userPrincipalName value="STEFKE\Stefan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>